
<header >
  Fat Boy Slimmers 2016
</header>

<div>
<nav>
  <ul>
    <li><a href="/contenders">Rutter</a></li>
    <li> Pop-a-Bear </li>
  </ul>
</nav>

<div id="main">
  TEAM
</div>
</div>

<footer>
  Weigh In
</footer>