
<header id="banner" class="body">
  Fat Boy Slimmers 2016
</header>


<nav>
  <ul>
    <li><a href="/contenders">Rutter</a></li>
    <li> Pop-a-Bear </li>
  </ul>
</nav>

<div id="main" class="body">
  TEAM
</div>


<footer id="content_footer" class="body">
  Weigh In
</footer>