<nav>
  <div class="fancy_text">Contenders</div>
  <div class="btn-group-vertical" role="group">
    <button class="btn btn-default fancy_text" onclick="changeImage('fat_rutt.jpg');">Rutter</button>
    <button class="btn btn-default fancy_text" onclick="changeImage('fat_cam.jpg');">Pop-a-Bear</button>
  </div>
</nav>

<div id="wrapper">

<header id="banner" class="body">
  <div class="main_title">Welcome To Fat Boy Slimmers 2016</div>
</header>

<div id="main" class="body">
  <img id="contender" src="fat_kid.jpg">
</div>


<footer id="content_footer" class="body">
  <div class="fancy_text" style="float: left; padding:20px; width: 50%">
    Who wears short, shorts in t minus:
  </div>
  <div id="clockdiv" >
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

</footer>

</div>
<script src="countdown.js"></script>